<div class="container">
  <%= render "index_search_form" %>

  <div style="width: 100%; height: 100vh;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  <div class="my-4">
    <h3><%= pluralize @clinics.count, "clinic" %> available</h3>
    <% @clinics.each do |clinic| %>
        <%= render "pages/clinic_card", clinic: clinic %>
    <% end %>
  </div>
</div>
