<% content_for :meta_title, "#{@clinic.name} is on #{DEFAULT_META["Yasashii"]}" %>
<% content_for :meta_description, @clinic.description %>
<% content_for :meta_image, cl_image_path(@clinic.photo.key) if @clinic.photo.attached? %>

<div style="padding: 150px 0; margin: 0 0; background-size: cover; background-position: 50% 50%;
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(<%= cloudinary_url(@clinic.photo.key) %>);">
  <div class="container my-4">
    <h1 class="text-white text-sh"><%= @clinic.name %></h1>
  </div>
</div>


<div class="container">

  <div class="my-4">
    <p>
      <span class="fa-stack">
        <i class="fa fa-circle fa-stack-2x icon-bg"></i>
        <i class="fa-solid fa-location-dot fa-stack-1x icon-color"></i>
      </span> <%= @clinic.location %>
    </p>
      <% @clinic.specialty_list.each do |specialty| %>
        <p><%= specialty %></p>
      <% end %>
    <p>
      <span class="fa-stack">
        <i class="fa fa-circle fa-stack-2x icon-bg"></i>
        <i class="fa-regular fa-clock fa-stack-1x icon-color"></i>
      </span> <%= @clinic.hours %>
    </p>
  </div>

  <div class="my-5">
    <h3>About This Clinic</h3>
    <p><%= @clinic.description %></p>
  </div>

  <div class="my-4">
    <h3>Contact Information</h3>
    <p>
      <span class="fa-stack">
        <i class="fa fa-circle fa-stack-2x icon-bg"></i>
        <i class="fa-solid fa-phone fa-stack-1x icon-color"></i>
      </span> <%= @clinic.phone_number %>
    </p>
    <p>
      <span class="fa-stack">
        <i class="fa fa-circle fa-stack-2x icon-bg"></i>
        <i class="fa-regular fa-envelope fa-stack-1x icon-color"></i>
      </span> <%= @clinic.email %>
    </p>
  </div>

  <div class="my-5">
    <h3>Make a phone call appointment with <strong><%= @clinic.name %></strong></h3>
  </div>

  <%= simple_form_for [@connection] do |f| %>
    <%= render 'connections/form', article: [@connection, @clinic] %>
  <% end %>
</div>
