<div class="msg-clinic float-start rounded-4 p-3 mb-2 row col-11 d-flex">
  <p>Your appointment is confirmed!</p>
  <p><strong><%= @connection.appt_date.strftime('%A, %B %e at %R') %></strong></p>
  <%= simple_form_for :appointment, url: dashboard_path, class: "d-flex", data: { controller: "connection" } do |f| %>
    <div>
      <%= f.button :button, "Add to Google Calendar", type: :button, class: "btn btn-primary me-2 mb-2" %>
      <%= f.button :exit_call, "Exit call", class: "btn btn-light mb-2" %>
    </div>
  <% end %>
  <p class="m-0"><small><%= Time.now.in_time_zone("Japan").strftime("%k:%M") %></small></p>
</div>
