<div class="msg-clinic float-start rounded-4 p-3 mb-2 row col-11 d-flex">
  <p>The clinic has requested a new date for your appointment:</p>
  <p><strong><%= @connection.appt_date.in_time_zone("Japan").strftime('%A, %B %e at %R') %></strong></p>
  <%= simple_form_for [@connection], url: connection_path(id: @connection), class: "d-flex", data: { controller: "connection", action: 'turbo:submit-end->connection#disable' } do |f| %>
    <div>
      <%= f.button :submit, "Accept", class: "btn btn-primary", data: { turbo_confirm: 'Are you sure?', connection_target: 'button' } %>
      <%= f.button :button, "Propose new date", type: :button, class: "btn btn-light ms-2", data: { action: 'click->connection#reveal' } %>
    </div>
    <div class="appt hide" data-connection-target="appt">
      <%= f.input :appt_date, label: 'New appointment date and time', as: :datetime, class: "col-sm-12 col-lg-9", label_html: { class: "col-sm-12 col-lg-12 mt-3" }, html5: true %>
      <%= hidden_field_tag :new_appt_date, :true %>
      <%= f.button :submit, 'Submit', class: "btn btn-primary mb-3", data: { turbo_confirm: 'Propose this new date?', connection_target: 'button' } %>
    </div>
  <% end %>
  <p class="m-0"><small><%= Time.now.in_time_zone("Japan").strftime("%k:%M") %></small></p>
</div>
