<div class="container">
  <div class="card-clinic border">
    <div>
      <h3><%= @connection.clinic.name %></h3>
      <p><%= @connection.clinic.hours %></p>
    </div>
    <hr>
    <div>
    <p>Calling...</p>
    </div>
  </div>
  <% @connection.messages.each do |message| %>
    <div class="border m-3">
      <%= message.content %>
    </div>
  <% end %>

  <p>
    Hello, this is a call from Yasashii,
    on behalf of <%= @user.firstname %> <%= @user.lastname %>.
    This person is feeling
    <% @connection.symptoms.compact_blank.each_with_index do |sym, index| %>
      <%= sym %>,
    <% end %>
    and would like to make an appointment on <%= @connection.appt_date %>.
    Thank you.
  </p>
</div>
