<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="d-flex flex-row dropdown">

    <button class="navbar-toggle" type="button" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> %>
      <span class="navbar-toggler-icon"></span>
    </button>

    <%= link_to root_path, class: "navbar-brand" do %>
      <div class="d-flex align-items-center">
        <%= image_tag "https://res.cloudinary.com/df7gbyhfx/image/upload/v1676690943/w0f8761a6pirw16f3tg6.png" %>
        <h4 id="navbar-title">Yasashii</h4>
      </div>
    <% end %>

    <%# <div class="collapse navbar-collapse" id="navbarSupportedContent"> %>
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="user-profile dropdown-item">
            <div class="d-flex justify-content-between align-items-center">
              <%= image_tag "http://res.cloudinary.com/df7gbyhfx/image/upload/v1676698699/wqhubpjfxsjeee49k9ox.jpg", class: "user-avatar" %>
              <div class="user-profile-info">
                <%= link_to current_user.username, dashboard_path, class: "user-link" %>
                <p class="view-user-dashboard">View dashboard ></p>
              </div>
            </div>
          </li>

          <div class="separator-line">
            <hr>
          </div>

          <li class="dropdown-item">
            <div class="d-flex flex-row align-items-center">
              <i class="fa-solid fa-house icon-spacing"></i>
              <%= link_to "Home", root_path, class: "nav-link" %>
            </div>
          </li>

          <li class="dropdown-item">
            <div class="d-flex flex-row align-items-center">
              <i class="fa-solid fa-house-medical-flag icon-spacing"></i>
              <%= link_to "Clinics", clinics_path, class: "nav-link" %>
            </div>
          </li>


        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>

  </div>
</div>
