<div class="card-appt my-3">
  <%= cl_image_tag connection.clinic.photo.key, height: 200, width: 366, crop: :fill, alt: connection.clinic.name %>
  <div class="p-3">
    <div>
      <h3><%= connection.clinic.name %></h3>
      <p><%= connection.appt_date.strftime("%m/%d/%Y") %></p>
      <p class="d-inline"><strong>Symptoms:</strong></p>
      <% connection.symptoms.each do |symptom| %>
        <% if symptom != connection.symptoms.last %>
          <p class="d-inline"><%= symptom %>, </p>
          <% else %>
          <p class="d-inline"><%= symptom %></p>
        <% end %>
      <% end %>
    </div>
    <p class="mt-1"><strong>
      <i class="fa-regular fa-clock"></i>  <%= connection.appt_date.strftime("%-l:%M %p") %>
    </strong></p>
    <%# <% if connection.appt_date > Time.now %>
      <%= link_to redirect_url do %>
        <button class="btn btn-primary">Add appointment to my Google calendar</button>
      <% end %>
    <%# <% end %>
  </div>
</div>
