<div class="about-banner mb-3">
  <div class="container">
    <h1>About us</h1>
  </div>
</div>

<div class="container">
  <div class="about-intro">
    <h3>Meet our team</h3>
    <p>We are a team of software engineers located in Tokyo Japan,
    aiming to help the foreigner community in Japan have one less
    barrier in receiving the healthcare that they need.</p>
  </div>

  <% @members.each do |member| %>
    <% name = member.firstname.downcase %>
    <% info = @contact_info[name.to_sym] %>
    <div class="member-card">
      <%= cl_image_tag member.photo.key, crop: :fill, alt: member.firstname, class: "member-card-avatar" %>
      <div class="member-card-content">
        <div class="dflex">
          <h5 class="text-pink"><%= member.firstname %> <%= member.lastname %></h5>
        </div>
        <p><strong><%= info[:role] %></strong></p>
        <%# <p><%= info[:gmail] %>
        <p class="member-card-icons">
          <i class="fa-solid fa-envelope"></i>
          <i class="fa-brands fa-github"></i>
          <i class="fa-brands fa-linkedin"></i>
        </p>
      </div>
    </div>
  <% end %>

  </div>
